<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DressStore</h1>
    <p>Welcome to DressStore Marketplace</p>
  </body>
</html>
